@page "/editspeaker/{id}"
@inject HttpClient httpClient
@inject NavigationManager nm

<h2>Editing Speaker ID @ID</h2>
@if (speaker==null) {
    <p><em>Loading Speaker Info...</em></p>
} else {
<EditForm Model="@speaker" OnValidSubmit="@HandleUpdate">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText placeholder="First Name" id="firstName" @bind-Value="@speaker.FirstName" class="form-control" />
    <br />
    <InputText placeholder="Last Name" id="lastName" @bind-Value="@speaker.LastName" class="form-control"/>
    <br />
    <InputText placeholder="Email" id="email" @bind-Value="@speaker.Email" class="form-control"/>
    <br />
    <InputText placeholder="Mobile Number" id="mobileNumber" @bind-Value="@speaker.MobileNumber" class="form-control"/>
    <br />
    <InputText placeholder="Specialization" id="specialization" @bind-Value="@speaker.Specialization" class="form-control"/>
    <br />
    <InputText placeholder="City" id="city" @bind-Value="@speaker.City" class="form-control"/>
    <br />
    <InputText placeholder="Province" id="province" @bind-Value="@speaker.Province" class="form-control"/>
    <br />
    <InputText placeholder="Employer" id="employer" @bind-Value="@speaker.Employer" class="form-control"/>
    <br />
    <a href="/speakers"><button class="btn btn-primary">Back To Speakers</button></a>
    <button type="submit" class="btn btn-success">Submit</button>
  </EditForm>
}


@code {
    [Parameter]
    public string ID {get; set;} 

    string baseUrl = "http://localhost:6001/";
    private Speaker speaker;

    protected override async Task OnInitializedAsync() {
        await load(ID);
    }
    public async Task load(string id) {
        speaker = await httpClient.GetJsonAsync<Speaker>($"{baseUrl}api/speakers/{id}");
    }

    private async Task HandleUpdate() {
        string endpoint = $"{baseUrl}api/speakers/{speaker.SpeakerId}";

        await httpClient.SendJsonAsync(HttpMethod.Put, endpoint, speaker);

        //todo: navigate to view all page
        nm.NavigateTo("speakers");
      }
    
}

